 /* Standard CT Stencil Bold */
 @font-face {font-family: "Standard CT Stencil Bold"; 
	src: url("//db.onlinewebfonts.com/t/9551514c6daf77d2f3ec8c9edaa0997c.eot"); 
	src: url("//db.onlinewebfonts.com/t/9551514c6daf77d2f3ec8c9edaa0997c.eot?#iefix") format("embedded-opentype"), 
	url("//db.onlinewebfonts.com/t/9551514c6daf77d2f3ec8c9edaa0997c.woff2") format("woff2"), 
	url("//db.onlinewebfonts.com/t/9551514c6daf77d2f3ec8c9edaa0997c.woff") format("woff"), 
	url("//db.onlinewebfonts.com/t/9551514c6daf77d2f3ec8c9edaa0997c.ttf") format("truetype"), 
	url("//db.onlinewebfonts.com/t/9551514c6daf77d2f3ec8c9edaa0997c.svg#Standard CT Stencil Bold") format("svg"); 
}

.text {
    font-family: 'Standard CT Stencil Bold'; 
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 10%;
}

.content {
    font-family: 'Standard CT Stencil Bold'; 
    font-size: 31px;
    display: block;
    text-align: center;
    background-image: url(/css/images/content.png);
    margin: auto;
    margin-top: 5%;
    width: 489px;
    height: 201px;
}

.icon {
    
}